.header {
  display: flex;
  height: 80px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
  padding: 0 40px;

  &__logo {
    background-color: $orange;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  &__search {
    width: 100%;
    border: $dark-grey 1px solid;
    border-radius: 15px;
    height: 40px;
    padding: 3px 50px 3px 13px;

    &:focus {
      outline: 2px solid $orange;
      border: none;
    }

    &Container {
      position: relative;
      width: 50%;
    }
  }

  &__searchBtn {
    position: absolute;
    right: 0;
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    border-left: $dark-grey 1px solid;
    cursor: pointer;

    svg {
      margin: 0 auto;

      &:hover {
        scale: 1.1;
      }
    }
  }

  &__cart {
    width: 40px;
    height: 40px;
    color: $grey;

    &:hover {
      cursor: pointer;
      color: $dark-grey;
    }
  }
}
